.historia{
    display: flex;
    align-items: center;
    
}
.titulo-historia{
    margin-left: 10px;
    margin-top: 30px;
}
.nome{
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha-horizontal{
    width: 75px;
    border: 2px solid #D6613E;
    margin-bottom: 30px;
    margin-left: 10px;
}

.texto-grande{
    margin-left: 30px;
}
.imagem{
    margin-top: 100px;
}